@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay-Regular.eot');
  src: local('☺'), url('../fonts/SFProDisplay-Regular.woff') format('woff'),
    url('../fonts/SFProDisplay-Regular.ttf') format('truetype'),
    url('../fonts/SFProDisplay-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.restaurant-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 44px;
}

.restaurant-title {
  margin-right: 30px;
}

.restaurant-rating {
  flex-wrap: nowrap;
  margin-bottom: 0;
}

.card-title-regular {
  font-weight: 400;
  margin-bottom: 10px;
}

.ingredients {
  color: #8c8c8c;
}

.button-card-text {
  margin-right: 10px;
}

.card-price-bold {
  font-size: 20px;
  line-height: 32px;
}

.button-card {
  margin-right: 32px;
}

.card-image {
  width: 100%;
}

.card-buttons {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .container {
    max-width: 600px;
  }
}
